<!doctype html>
<html>
  <head>
    <title>Services</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="navbar">
      <h2>Services</h2>
      <div>
        <a href="/">Home</a>
        <a href="/book">Book</a>
        <a href="/admin">Admin</a>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <h2>Medical Services</h2>

        <div class="services">
          <div class="service-box">
            <img src="/images/injection.png" alt="Injection" /> />
            <p>Injection</p>
          </div>

          <div class="service-box">
            <img src="/images/dressing.png" alt="Dressing" />
            />
            <p>Dressing</p>
          </div>

          <div class="service-box">
            <img src="/images/Icucare.png" alt="ICU" />
            />
            <p>Icu Care</p>
          </div>

          <div class="service-box">
            <img src="/images/drip.png" alt="IV-DRIP" />
            />
            <p>Iv Drip</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
